Source: usb-imagewriter-ng
Section: misc
Priority: optional
Maintainer: Discreete Linux Team <info@discreete-linux.org>
Build-Depends: debhelper (>= 5.0.37)
Build-Depends-Indep: gettext
Standards-Version: 3.8.1

Package: usb-imagewriter-ng
Architecture: all
Depends: coreutils (>= 6.10-3), procps, gksu, python, pv, python-parted, python-pyudev
Description: Improved USB Image Writer, tool to write .img files to USB Keys
 A GUI to write .img files like the ones created by the
 ubuntu-mobile team for UME to a USB Key for installing
 the image to mobile devices and netbooks.
 Improved version of the original USB Image Writer. 
 Comes with the following advantages:
 * Check image size vs. media size before writing
 * Optional verification pass
 * Improved error control
 * Can be used from the command line (for scripting)
